/*Colors*/
$black: #000
$white-rgba: rgba(255, 255, 255, 0.5)
$black-rgba: rgba(0, 0, 0, 0.3)
$light-blue: rgba(156, 252, 248, 1)
$light-purple: rgba(110, 123, 251, 1)
$lightest-blue: #b8e1fc
$lighty-blue: #90bcea
$shade-blue: #90bff0
$dark-blue: #6ba8e5
$grey-blue: #bdf3fd
$metallic-rgba: rgba(192, 192, 192, 0.5)
$white: #fff
$grey: #c0c0c0

$mobile-width-only: 767px
$tablet-width: 768px
$desktop-width: 1024px
