.calculator
  margin: auto

.calculator__pannel-wrapper
  padding: 20px
  border: 6px solid black
  background-color: $metallic-rgba

.calculator__operand-display
  min-width: 45%

.calculator__operator-display
  min-width: 5%

.calculator__operand-display,
.calculator__operator-display
  padding-top: 20px

.calculator__operand-text
  min-height: 42px
  box-sizing: border-box
  border: 1px solid $black-rgba
  background-color: #ffcfdf; background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%)

.calculator__result-text
  min-height: 22px
  border: 1px solid $black-rgba

.calculator__operand-text,
.calculator__operator-text,
.calculator__result-text
  margin: 0
  padding: 0
  padding-top: 10px
  padding-bottom: 10px
  text-align: center

.calculator__result-display
  min-width: 95%
  margin-top: 20px
  padding-bottom: 20px

.calculator__display
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-bottom: 20px
  border-radius: 10px
  border: 2px solid $grey
  background-color: $white

.calculator__numbers-list,
.calculator__functions-list
  display: grid
  gap: 20px 10px
  margin: 0
  padding: 0
  list-style: none

.calculator__numbers-list
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: repeat(4, 70px)
  width: 55%

.calculator__functions-list
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(4, 70px)
  width: 40%

.calculator__buttons-zero
  grid-row: 4 / 5
  grid-column: 1 / 3

.calculator__buttons
  display: flex
  justify-content: space-between

.calculator__number-button
  margin: 0
  padding: 0
  font-size: 32px
  line-height: 32px
  border: none
  cursor: pointer
  background-image: linear-gradient($lightest-blue 0%, $lighty-blue 35%, $shade-blue 50%, $dark-blue 51%, $grey-blue 100%)

  &:hover
    border-radius: 10px
    border: 2px solid grey

.calculator__sqrt-func
  &::before
    content: ''
    position: relative
    display: block
    left: 50%
    margin-left: -88px
    height: 50px
    width: 177px
    background-repeat: no-repeat
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 445.878 445.878' style='enable-background:new 0 0 445.878 445.878;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M426.024,86.447H209.705l-84.911,298.911c-2.568,7.967-9.854,13.482-18.22,13.771c-0.236,0-0.464,0.006-0.688,0.006 c-8.092,0-15.41-4.924-18.436-12.478l-34.714-86.782H19.851C8.884,299.876,0,290.986,0,280.022 c0-10.965,8.893-19.854,19.851-19.854H66.18c8.109,0,15.421,4.941,18.436,12.483l19.237,48.09l72.472-260.218 c2.639-8.213,10.279-13.781,18.903-13.781h230.798c10.97,0,19.854,8.89,19.854,19.851S436.988,86.447,426.024,86.447z M436.723,353.227l-78.259-87.904l74.576-82.783c1.318-1.454,1.638-3.547,0.857-5.341c-0.804-1.791-2.577-2.946-4.54-2.946h-47.18 c-1.442,0-2.802,0.629-3.759,1.72l-50.059,58.047l-49.674-58.029c-0.939-1.103-2.317-1.738-3.771-1.738h-49.334 c-1.956,0-3.729,1.149-4.521,2.929c-0.81,1.785-0.479,3.875,0.824,5.332l73.743,82.81l-77.641,87.923 c-1.297,1.465-1.605,3.552-0.813,5.325c0.813,1.785,2.586,2.92,4.528,2.92h48.9c1.472,0,2.867-0.65,3.807-1.785l51.819-62.181 l53.05,62.229c0.951,1.11,2.328,1.743,3.782,1.743h49.97c1.962,0,3.735-1.141,4.527-2.926 C438.354,356.779,438.035,354.692,436.723,353.227z'/%3E%3C/g%3E%3C/svg%3E%0A")
    background-position: center center
    z-index: 2
