.calculator
  margin: auto

.calculator__pannel-wrapper
  padding: 20px
  border: 6px solid black

.calculator__operand-display
  min-width: 45%

.calculator__operator-display
  min-width: 5%

.calculator__operand-display,
.calculator__operator-display
  padding-top: 20px

.calculator__operand-text
  border: 1px solid $black-rgba
  background-color: #ffcfdf; background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%)

.calculator__result-text
  border: 1px solid $black-rgba

.calculator__operand-text,
.calculator__operator-text,
.calculator__result-text
  margin: 0
  padding: 0
  padding-top: 10px
  padding-bottom: 10px
  text-align: center

.calculator__result-display
  min-width: 95%
  margin-top: 20px
  padding-bottom: 10px

.calculator__display
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-bottom: 20px
  border-radius: 10px
  border: 2px solid $grey
  background-color: $white

.calculator__numbers-list,
.calculator__functions-list
  margin: 0
  padding: 0
  list-style: none

.calculator__numbers-list
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: repeat(4, 50px)
  gap: 20px 10px
  width: 53%

.zero
  grid-row: 4 / 5
  grid-column: 1 / 3

.calculator__functions-list
  width: 33%

.calculator__buttons
  display: flex
  justify-content: space-between

.calculator__number-button
  margin: 0
  padding: 0
  border: none
